body {
    font-family: sans-serif;
    width: 100%;
    background-image: linear-gradient(90deg, #5454a1, #37009c, #5454a1);
}

header{
        margin: 1em auto;
        text-align: center;
        color:rgb(255, 205, 154);
        min-width: 470px;
}

#description {
    font-style: italic;
    margin-top: 0.5em;
}

main{
        margin: 1em auto;
        text-align: left;
        color:rgb(255, 205, 154);
        min-width: 470px;
}

form {
    width: 50vw;
    max-width: 600px;
    min-width: 470px;
    margin: 0 auto;
    background-color:rgba(71, 61, 139, 0.8);
    border-radius: 5px;
}

fieldset {
    padding: 2em 0;
    border: none;
}

fieldset p {
    margin: 0.5em auto;
    width: 80%;
}

label, #dropdown {
    display: block;
    margin: 0.5em auto;
    width: 90%;
}

label input{

    display: block;
    margin: 0.5em auto;
    width: 90%;
    padding: 0 0;
}

.notThis {

}