body {
    font-family: sans-serif;
    width: 100%;
    background-image: linear-gradient(90deg, #5454a1, #37009c, #5454a1);
}

header{
        margin: 1em auto;
        text-align: center;
        color:rgb(255, 205, 154);
        min-width: 470px;
}

#description {
    font-style: italic;
    margin-top: 0.5em;
}

main{
        margin: 1em auto;
        text-align: left;
        color:rgb(255, 205, 154);
        min-width: 470px;
}

form {
    width: 50vw;
    max-width: 600px;
    min-width: 470px;
    margin: 0 auto;
    background-color:rgba(71, 61, 139, 0.8);
    border-radius: 5px;
}

fieldset {
    padding-top: 0;
    border: none;
    padding-bottom:0;
}

fieldset p {
    margin: 0.5em auto;
    width: 80%;
}

label, #dropdown {
    display: block;
    margin: 0.5em auto;
    width: 90%;
}

#dropdown{
    width:81.5%;
}

input, #dropdown {
    margin-top:2em;
    border-color:rgb(255, 205, 154);
    box-shadow:0 0 1em rgb(255, 205, 154,0.25);
    border-radius: 0.6em;
}

label input{
    display: block;
    margin: 0.5em auto;
    width: 90%;
    padding: 0 0;
}

.notThis{
    display:inline;
    width: unset;
    margin: 0 0.5em 0 0;
    vertical-align: middle;
}

input[type="submit"] {
  display: block;
  width: 80%;
  margin: 0.6em auto;
  height: 2em;
  font-size: 1.1rem;
  background-color:rgba(71, 61, 139, 0.8);
  border-color:#bad911;
  color:#bad911;
  min-width: 300px;
  box-shadow:0 0 1em rgba(186, 217, 17,0.25);
}

